.Center-row {
  text-align: center;
}

.Left-row {
  text-align: left;
}

.Right-row {
  text-align: right;
}

.All-rows {
  margin: 20px;
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
